<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
    <h1> Sign In Here </h1>
    <div class="main"> 
        <form action="/users/create-session" method="post">
           <div id="em">Email:</div> <input type="email" name="email" placeholder="Enter your email " required>
           <div id="pass">Password:</div> <input type="password" name="password" placeholder="Enter your password" required>
         <div id="but"><button type="submit" >Sign In </button> </div>  
        </form>

        <p>
            <a href="/users/auth/google"> Sign-in / Sign-up using Google</a>
        </p>
    </div>
    
</body>
</html>