<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Register Here </h1>
<div> 
    <form action="/users/create" method="POST">
       <div>Email: <input type="email" name="email" placeholder="Enter your email " required></div>
       <div>Password: <input type="password" name="password" placeholder="Enter your password" required></div>
       <div>Confirm Password: <input type="password" name="confirm_password" placeholder="Confirm Password" required></div>
       <div>Name: <input type="text" name="name" placeholder="Enter your Name" required></div>
       <button type="submit">Register</button>
    </form>
</div>
</body>
</html>